body {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url("./assests/image/wood.jpg"),
    linear-gradient(rgba(0, 0, 0, 0.515), rgba(0, 0, 0, 0.503));
  background-blend-mode: overlay;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  user-select: none;
  /* background-color: #181717; */
}

h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 20px;
}

.cell {
  width: 100px;
  height: 100px;
  /* background-color: #ffffff; */
  /* border: 1px solid #ffffff; */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  /* background: rgba(0, 0, 0, 0.587); */
  /* backdrop-filter: blur(5px); */
  color: white;
  font-family: sans-serif;
  font-size: 35px;
  background-image: url("./assests/image/box-image.png");
  border-radius: 15px;
  border: 3px solid rgb(164, 86, 2);
  /* linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.275)); */
  /* background-blend-mode: overlay; */
  box-shadow: inset 8px 8px 8px 0 rgb(78, 40, 0), 5px 5px 0px 0 rgb(128, 66, 0),
    inset -8px -8px 8px 0 rgba(151, 78, 0, 0.508);
}

/* cell active style  */
.yellow-2 {
  color: rgba(255, 255, 0, 1);
  font-size: 35px;
}
.yellow-1 {
  color: rgb(215, 215, 1);
  font-size: 35px;
}
.yellow-0 {
  color: rgb(208, 208, 1);
  font-size: 25px;
}

/* cell active style  */
.green-2 {
  color: rgb(32, 212, 0);
  font-size: 35px;
}
.green-1 {
  color: rgb(29, 181, 2);
  font-size: 35px;
}
.green-0 {
  color: rgb(24, 159, 0);
  font-size: 25px;
}

/* *{
  color: rgb(0, 255, 0) !important;
} */
