*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url("./assests/image/wood.jpg"),
    linear-gradient(rgba(0, 0, 0, 0.515), rgba(0, 0, 0, 0.503));
  background-blend-mode: overlay;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 450px;
  width: 100vw;
  user-select: none;
  /* background-color: #181717; */
  transition: all 0.3s;
  overflow: hidden;
}

h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 80px);
  grid-template-rows: repeat(3, 80px);
  gap: 25px;
}

.cell {
  width: 80px;
  height: 80px;
  /* background-color: #ffffff; */
  /* border: 1px solid #ffffff; */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  /* background: rgba(0, 0, 0, 0.587); */
  /* backdrop-filter: blur(5px); */
  color: white;
  font-family: sans-serif;
  font-size: 35px;
  background-image: url("./assests/image/box-image.png");
  border-radius: 15px;
  border: 3px solid rgb(164, 86, 2);
  /* linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.275)); */
  /* background-blend-mode: overlay; */
  box-shadow: inset 8px 8px 8px 0 rgb(78, 40, 0), 5px 5px 0px 0 rgb(128, 66, 0),
    inset -8px -8px 8px 0 rgba(151, 78, 0, 0.508);
}

/* cell active style  */
.yellow-2 {
  color: rgba(255, 255, 0, 1);
  font-size: 35px;
}
.yellow-1 {
  color: rgb(215, 215, 1);
  font-size: 35px;
}
.yellow-0 {
  color: rgb(208, 208, 1);
  font-size: 25px;
}

/* cell active style  */
.green-2 {
  color: rgb(32, 212, 0);
  font-size: 35px;
}
.green-1 {
  color: rgb(29, 181, 2);
  font-size: 35px;
}
.green-0 {
  color: rgb(24, 159, 0);
  font-size: 25px;
}

/* *{
  color: rgb(0, 255, 0) !important;
} */

/* win-active-cell---------------------- */
.win-active-cell {
  border-color: red;
  animation: borderColorChange 3s infinite;
}

@keyframes borderColorChange {
  0% {
    border-color: rgb(255, 0, 0);
  } /* Red */
  33% {
    border-color: rgb(0, 255, 0);
  } /* Green */
  66% {
    border-color: rgb(0, 0, 255);
  } /* Blue */
  100% {
    border-color: rgb(255, 0, 0);
  } /* Back to Red */
}

/* utils css class ------------- */
.btn {
  padding: 10px 20px;
  /* background-color: rgb(109, 62, 0); */
  background-image: url("./assests/image/box-image.png");
  border-radius: 100px;
  border: 1px solid rgb(164, 86, 2);
  box-shadow: inset 5px 5px 5px 0 rgb(78, 40, 0), 2px 2px 0px 0 rgb(128, 66, 0),
    inset -2px -2px 2px 0 rgba(151, 78, 0, 0.508);
}


.text-wood-style {
    font-size: 22px;
  font-weight: bolder;
  background-image: url("./assests/image/lands-wood.png");
  background-size: cover;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}